.blog-container {
    margin: 3rem auto;
    max-width: 50rem;
    padding: 0.5rem;
    padding-top: 2rem;
  }
  .blog-container img {
    display: block;
    margin: 1rem auto;
    width: 80%;
    height: 20rem;
  }
  .blog-container p,
  h1 {
    line-height: 2;
    letter-spacing: 1px;
    word-spacing: 3px;
  }