.container-profile {
    display: flex;
    gap: 2rem;
    width: 80%;
    margin: 20px auto;
    /* justify-content: space-around; */
  }
  
  .profile-section1 {
    background: #f9f9f9;
    text-align: center;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    /* width: 300px; */
    width: 30%;
    height: 150px;
  }
  
  .profile-section1 h1 {
    font-size: 2rem;
    /* margin-bottom: 10px; */
    color: #007bff;
  }
  
  .profile-section1 h4 {
    font-size: 1.2rem;
    color: #333;
  }
  
  .profile-section2 {
    background: #f9f9f9;
    padding: 40px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    /* width: 930px; */
    width: 70%;
  }
  
  .profile-section2 h3 {
    font-size: 1.5rem;
    color: #007bff;
    margin-bottom: 15px;
  }
  
  .profile-section2 p {
    font-size: 1.2rem;
    color: #333;
    margin-bottom: 10px;
  }
  
  .link {
    text-decoration: none;
    color: #fff;
    display: inline-block;
    padding: 10px 20px;
    border-radius: 4px;
    transition: background-color 0.3s;
    margin-top: 20px;
    font-size: 1rem;
    background: #007bff; /* Blue color */
    border: 1px solid #007bff; /* Matching border color */
  }
  
  .link:hover {
    background-color: #0056b3; /* Slightly darker blue on hover */
  }
  
  .link + .link {
    margin-left: 10px;
  }
  
  .link.to-change-password {
    background: #28a745; /* Green color */
    border: 1px solid #28a745; /* Matching border color */
  }
  
  .link.to-change-password:hover {
    background-color: #218838; /* Slightly darker green on hover */
  }