.filter-btns {
  margin-top: 5rem;
  display: flex;
  justify-content: center;
  gap: 1rem;
  overflow: hidden;
}

.filter-btn {
  padding: 0.3rem 0.8rem;
  border-radius: 1rem;
  border: 1px solid #716EEF;
  outline: none;
  cursor: pointer;
  font-weight: 300;
  background-color: #fff;
  color: #716EEF;
  transition: ease 0.5s;
}

.filter-btns button:hover {
  background-color: #716EEF;
  color: #fff;
}

.active-filter-btn {
  padding: 0.3rem 0.8rem;
  border-radius: 1rem;
  border: 1px solid #716EEF;
  outline: none;
  cursor: pointer;
  font-weight: 300;
  background-color: #716EEF;
  color: #fff;
  transition: ease 0.5s;
}

.exam-card-container {
  max-width: 1100px;
  margin: 1rem auto;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
}

.exam-card {
  position: relative;
  width: 20rem;
  height: 10rem;
  border-radius: 4px;
  margin: 0 auto;
  margin-bottom: 2rem;
  background: #F0F4FF;
  overflow: hidden;
  padding: 10px;
  box-shadow: rgba(0, 0, 0, 0.8);
}

.exam-card-top {
  display: flex;
  gap: 0.7rem;
}

.exam-card-top img {
  height: 95px;
  width: 80px;
  object-fit: cover;
}

.exam-card-text-section {
  margin-top: -0.35rem;
}

.exam-card-text-section h3 {
  font-size: 0.98rem;
}

.exam-card-text-section p {
  font-size: 0.8rem;
}

.exam-card-text-section-btns {
  position: absolute;
  bottom: 5px;
}

.exam-card-text-section-btns button {
  padding: 0.3rem 0.4rem;
  border-radius: 1rem;
  outline: none;
  cursor: pointer;
  font-weight: 800;
  margin-left: 0.3rem;
  transition: all 0.3s ease-in;
}

.exam-card-btn {
  background-color: #fff;
  border: 1px solid #716EEF;
}

.exam-card-btn:hover {
  background-color: #716EEF;
  color: #fff;
}

.exam-card-btn {
  color: #716EEF;
}

.get-brochure {
  border: 1px solid #716EEF;
  background-color: #716EEF;
  color: #fff;
}

.get-brochure:hover {
  background-color: #fff;
  color: #716EEF;
}

@media (width<830px) {
  .filter-btns {
    display: inline-block;
    margin-left: auto;
    margin-right: auto;
    padding: 20px;
  }

  .filter-btn,
  .active-filter-btn {
    margin: 5px;
  }
}

@media (width<340px) {
  .exam-card {
    width: 18rem;
  }

  .exam-card-text-section-btns button {
    padding: 0.1rem 0.4rem;
    font-weight: 300;
    font-size: 0.75rem;
    margin-left: 0.2rem;
  }
}