/* .NavBarItems {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 1rem;
  padding: 0 33px;
  width: 100%;
  height: 60px;
  z-index: 100;
  background-color: #bac3f4;
   background-color: #2794eb; 
   background-color: #486ddc;  
   background-color: #0774d9; 
   border-bottom: white 1px solid; 
   border-radius: 13px;  
  position: fixed;
  top: 0;
  top: 20px;
    left: 50%;
    transform: translate(-50%);
}

.logo {
  color: black;
  text-decoration: none;
  justify-self: start;
  cursor: pointer;
  font-size: 1.2rem;
}

.nav-menu {
  text-transform: uppercase;
  display: grid;
  grid-template-columns: repeat(6, auto);
  grid-gap: 10px;
  list-style: none;
  align-items: center;
  text-align: center;
  justify-content: end;
}

.nav-links {
  text-decoration: none;
  color: black;
  padding: 0.7rem 1rem;
}

.nav-links:hover {
  color: #000;
  background-color: #429ae0;
  border-radius: 30px;
  text-decoration: underline;
  text-decoration-color: black;

  margin-bottom: 5px;
  transition: all 0.2 ease-in-out;
}

.fa-list,
.fa-x {
  color: #fff;
}

.menu-icon {
  display: none;
}

.nav-links-mobile {
  text-transform: uppercase;
  padding: 0.5rem 0.8rem;
  white-space: nowrap;
   background-color:#716EF1; 
  background-color: #716eef;
  border-radius: 30px;
  border: none;
  text-decoration: none;
  font-size: 1rem;
  font-weight: bold;
  color: #fff;
  cursor: pointer;
}

.nav-links-mobile:hover {
  background-color: #000;
  color: #fff; 
  transform: scale(1.06);
  transition: all ease-out 0.5s;
}

@media screen and (max-width: 850px) {
  .logo {
    font-size: 0.8rem;
  }

  .NavBarItems {
    z-index: 100;
  }

  .nav-menu {
    display: flex;
    flex-direction: column;
    justify-content: center;
    background: rgba(225, 225, 225, 0.25);
    box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
    backdrop-filter: blur(4px);
    border-radius: 0 0 13px 13px;
    width: 100%;
    height: auto;
    position: absolute;
    top: 0;
     
    left: -110%;
    transition: all 0.3s ease-in-out;
    align-items: stretch;
    padding: 60px 0 10px 0;
    margin: 0;
    z-index: -1;
  }

  .nav-menu.active {
    left: 0%;
  }

  .nav-links {
    display: block;
    widows: 100%;
    padding: 1rem 0;
    color: #222;
  }

  .nav-links:hover {
    background: rgba(255, 255, 255, 0.25);
    backdrop-filter: blur(20px);
  }

  .menu-icon {
    display: block;
    cursor: pointer;
  }

  .nav-links-mobile {
    padding: 1rem;
    display: block;
    text-align: center;
    font-size: 1.2rem;
    font-weight: bold;
    width: 80%;
    margin: auto;
  }
}


.user-img {
  border-radius: 50%;
  height: 2rem;
  width: 2rem;
  cursor: pointer;
  padding: 0.2rem;
} */


.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 1rem;
  padding: 0 10px;
  padding-right: 20px;
  width: 100vw;
  height: 60px;
  z-index: 10;
  background-color: #bac3f4;
  position: fixed;
  top: 0;
}

.logo {
  justify-self: start;
  cursor: pointer;
  height: 6rem;
  width: 12rem;
}

.logo img {
  height: 100%;
  width: 100%;
}

.nav-links {
  text-decoration: none;
  color: black;
  padding: 0.7rem 1rem;
}

.nav-links:hover {
  text-decoration: underline;
  text-decoration-color: black;
}

.nav-links-mobile {
  text-transform: uppercase;
  padding: 0.5rem 0.8rem;
  background-color: #716eef;
  border-radius: 10px;
  border: none;
  text-decoration: none;
  font-size: 0.9rem;
  font-weight: 400;
  color: #fff;
  cursor: pointer;
}

.nav-links-mobile:hover {
  transform: scale(1.06);
  transition: all ease-out 0.5s;
}

.user-img {
  border-radius: 50%;
  height: 2rem;
  width: 2rem;
  cursor: pointer;
  padding: 0.2rem;
}

.toggle-options {
  display: flex;
  gap: 1rem;
}

.toggle-options svg {
  height: 2rem;
  width: 2rem;
  display: none;
  cursor: pointer;
  transition: 0.3s;
}

.toggle-options svg:hover {
  fill: #716eef;
}

.overlay {
  height: 100vh;
  width: 0;
  position: fixed;
  z-index: 999;
  top: 0;
  right: 0;
  background-color: #716eef;
  overflow: hidden;
  transition: 0.5s;
  display: none
}

.overlay-close svg {
  position: absolute;
  top: 5px;
  right: 10px;
  height: 2rem;
  width: 2rem;
  cursor: pointer;
  fill: #fff;
  transition: 0.3s;
}

.overlay-close svg:hover {
  fill: #bac3f4;
}

.overlay-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 12rem;
}

.overlay-content a {
  padding: 8px;
  margin-bottom: 5px;
  font-size: 26px;
  color: #fff;
  transition: 0.3s;
}

.overlay-content a:hover {
  color: #bac3f4;
}

@media screen and (max-width: 800px) {
  .nav-links {
    display: none;
  }

  .toggle-options svg {
    display: block;
  }

  .overlay {
    display: block;
  }

  .open {
    width: 100vw;
  }
}