.hero-section {
  margin-top: 3rem;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  gap: 10rem;
  background-color: #bac3f4;
  height: 30rem;
}

.slider {
  background-color: #ccc;
  width: 310px;
  height: 400px;
  margin-top: 2rem;
  position: relative;
  overflow: hidden;
  border-radius: 10px;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}

.hero-section-flyer img {
  object-fit: contain;
  height: 400px;
  width: 100%;
}

.hero-section-flyer button {
  position: absolute;
  bottom: 50px;
  margin-left: 1rem;
  padding: 0.3rem 0.8rem;
  white-space: nowrap;
  background-color: #716eef;
  border: none;
  text-decoration: none;
  font-size: 0.8rem;
  font-weight: bold;
  color: #fff;
  cursor: pointer;
}

.hero-section-flyer a {
  color: #fff;
}

.search_section {
  animation: animation 5s infinite;
}

.search_section h1 {
  padding-bottom: 2rem;
  padding-top: 10rem;
  color: #012d58;
  font-size: 35px;
  text-align: center;
}

.input-box {
  position: relative;
  width: 35rem;
  background: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 2rem;
  box-shadow: 0 5px 10px #0000001a;
}

@keyframes animation {

  0%,
  100% {
    transform: translateY(0);
  }

  50% {
    transform: translateY(-20px);
  }
}

.search_section:hover {
  animation-play-state: paused;
}

.input-box i {
  left: 20px;
  font-size: 30px;
  color: black;
}

.input-box input {
  height: 100%;
  width: 100%;
  outline: none;
  font-size: 18px;
  font-weight: 400;
  border: none;
  margin-left: 1rem;
  background-color: transparent;
}

.input-box .button {
  right: 20px;
  font-size: 16px;
  font-weight: 400;
  color: #fff;
  border: none;
  padding: 12px 30px;
  border-radius: 20px;
  background: none;
  border: none;
  cursor: pointer;
}

.search_result {
  position: absolute;
  top: 3.59rem;
  max-height: 200px;
  width: 95%;
  overflow-y: auto;
  border-radius: 5px;
  background-color: #fff;
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.1);
}

.search_suggestion_line {
  display: flex;
  flex-direction: column;
  padding: 8px 16px;
  text-decoration: none;
  text-align: left;
  color: #333;
  transition: background-color 0.3s;
}

.search_suggestion_line:hover {
  background-color: #f5f5f5;
}

@media screen and (width<1050px) {
  .hero-section {
    flex-direction: column;
    align-items: center;
    height: 46rem;
  }

  .slider-container {
    width: 100%;
    background-color: #fff;
  }

  .slider {
    margin: 2rem auto;
  }
}

@media screen and (width<570px) {
  .search_section{
    margin-top: 5rem;
  }

  .search_section h1 {
    font-size: 28px;
  }

  .input-box {
    width: 96%;
    height: 40px;
    margin: 0 auto;
  }

  .input-box input {
    font-size: 12px;
    margin-left: 10px;
  }

  .input-box i {
    font-size: 15px;
  }

  .search_result {
    top: 2.6rem;
  }
}